/* GENERAL */
:root {
  --main-dark: #212121;
  --main-grey: #424242;
  --secondary-orange: #f4511e;
  --secondary-crimson: #dd2433;
  --white-text: #ffffff;
}

@font-face {
  font-family: "Walsheim";
  src: url('../fonts/Walsheim.ttf');
}

html {
  font-family: "Walsheim", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  transition: all 0.5s ease;
}

body {
  min-height: 100vh;
  background: var(--main-dark);
  color: var(--white-text);
}

/* BASE TEMPLATE */
.wrapper {
  min-height: 100%;
}

nav {
  background: var(--secondary-orange);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, var(--secondary-crimson), var(--secondary-orange));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, var(--secondary-crimson), var(--secondary-orange)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav ul li a {
  font-size: 150%;
}
.sidenav {
  background: var(--main-dark);
  color: var(--white-text);
}
.sidenav li a {
  font-size: 150%;
}
.sidenav li a:hover {
  background-color: var(--main-grey);
}

/* HOME TEMPLATE */
.homepage-section-title span {
  visibility: hidden;
}
.homepage-section-title:hover {
  visibility: initial;
  color: var(--secondary-crimson);
}