/* GENERAL */
:root {
  --main-dark: #212121; /* grey darken-4 */
  --main-grey: #424242; /* grey darken-3  */
  --main-orange: #f4511e; /* deep-orange darken-1  */
  --secondary-crimson: #dd2433;
  --secondary-teal: #a7ffeb; /* teal accent-1 */
  --secondary-grey: #fafafa; /* grey lighten-5 */
  --white-text: #ffffff;
}

@font-face {
  font-family: "Walsheim";
  src: url('../fonts/Walsheim.ttf');
}

html {
  font-family: "Walsheim", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: var(--main-dark);
  color: var(--white-text);
}

/* BASE TEMPLATE */
.wrapper {
  min-height: 100%;
}

nav {
  background: var(--main-orange);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, var(--secondary-crimson), var(--main-orange));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, var(--secondary-crimson), var(--main-orange)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav ul li a {
  font-size: 150%;
}
.sidenav {
  background: var(--main-dark);
  color: var(--white-text);
}
.sidenav li a {
  font-size: 150%;
}
.sidenav li a:hover {
  background-color: var(--main-grey);
}

/* HOME TEMPLATE */

/* featured cards */
.homepage-card-title {
  transition: all 0.5s ease;
  background: rgba(33, 33, 33, 0.6);
  width: 100%;
  color: var(--white-text)
}
.homepage-card-title:hover {
  background: rgba(33, 33, 33, 0.8);
  color: var(--main-orange);
}

.homepage-post-tags > a {
  text-decoration: underline;
}

.latest-post-title > a {
  color: var(--white-text);
}

.post-description {
  padding-top: 10px;
}


/* TAG LIST PAGE */
.tag-list {
  border: none;
}
.tag-list-item {
  width: 60%;
}