{% extends 'base.html' %}

{% block title %}- Home{% endblock %}

{% block content %}
  <div class="container">
    <div class="featured row">
      <h2 class="homepage-section-title white-text">Featured</h2>
      {% for post in post_list %}
        {% if post.is_featured %}
          <div class="col s12 l6">
            <a href="{% url 'posts:post_detail' slug=post.slug %}">
              <div class="card medium hoverable grey darken-3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="responsive-img" src="{{ post.cover.url }}" alt="{{ post.title }}">
                  <span class="homepage-card-title card-title">
                    {{ post.title }}
                  </span>
                </div>
                <div class="card-content homepage-card-content">
                    <p>
                        <span class="homepage-post-date grey-text text-darken-1">{{ post.date_created }}</span>
                        <span class="homepage-post-tags">
                          {% for tag in post.tags.all %}
                            <a href="{% url 'posts:tag_detail' slug=tag.slug %}">
                              <span class="new badge hoverable deep-orange darken-1" data-badge-caption="">#{{ tag.name }}</span>
                            </a>
                          {% endfor %}
                        </span>
                    </p>
                    <p class="grey-text text-lighten-1 post-description">{{ post.description }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endif %}
      {% empty %}
      {% endfor %}
    </div>

    <div class="latest-posts row">
      <h2 class="homepage-section-title white-text">Latest Posts</h2>
      {% for post in post_list %}
        <div class="col s12">
            <a href="{% url 'posts:post_detail' slug=post.slug %}">
              <div class="card horizontal hoverable grey darken-3">
                
                <div class="card-image">
                  <img class="responsive-img" src="{{ post.cover.url }}" alt="{{ post.title }}">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <p class="card-title latest-post-title white-text">
                      {{ post.title }}
                    </p>
                    <p>
                      <span class="homepage-post-date grey-text text-darken-1">{{ post.date_created }}</span>
                      <span class="homepage-post-tags">
                        {% for tag in post.tags.all %}
                          <span class="new badge hoverable deep-orange darken-1" data-badge-caption="">#{{ tag.name }}</span>
                        {% endfor %}
                      </span>
                    </p>
                    <p class="grey-text text-lighten-1 post-description">{{ post.description }}</p>
                  </div>
                </div>
              </div>
            </a>
        </div>
      {% empty %}
      {% endfor %}
    </div>

  </div>
{% endblock %}