{% extends 'base.html' %}
{% load markdownify %}

{% block title %} - {{ post.title }} {% endblock %}

{% block content %}
  <h3 class="post-title">{{ post.title }}</h3>
  <img class="post-cover" src="{{ post.cover.url }}" alt="{{ post.title }}">
  <ul>
    {% for tag in tags %}
      <li><a href="{% url 'posts:tag_detail' slug=tag.slug %}">{{ tag.name }}</a></li>
    {% empty %}
      <li>No tags</li>
    {% endfor %}
  </ul>
  <div class="post-description">{{ post.description }}</div>
  <div class="post-content">{{ post.content|markdownify  }}</div>
{% endblock %}