{% extends "base.html" %}

{% block title %} - All Tags{% endblock %}

{% block content %}
<div class="container container-content">
  <h2 class="white-text">All Tags</h2>
  <div class="collection tag-list">
    {% for tag in tag_list %}
      <a href="{% url 'posts:tag_detail' slug=tag.slug %}" class="collection-item tag-list-item grey darken-3 white-text">
        #{{ tag.name }}
        <span class="new badge hoverable deep-orange darken-1" data-badge-caption="posts">{{ tag.posts.all.count }}</span>
      </a>
    {% empty %}
      <p>No tags yet.</p>
  </div>
  {% endfor %}
</div>
{% endblock %}